/*base*/
.navbar {
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin: 0 10px;
  transition: color 0.3s ease;
}

/*dark*/
.navbar.dark {
  background-color: #1E1E1E;
  color: #E0E0E0;
}

.navbar.dark .nav-link {
  color: #E0E0E0;
}

.navbar.dark .nav-link:hover,
.navbar.dark .nav-link.active {
  color: #00ADB5;
  font-weight: bold;
}

.navbar.dark .navbar-toggler {
  border-color: #00ADB5;
}

.navbar.dark .navbar-toggler-icon {
  background-color: #00ADB5;
  border-radius: 3px;
}

/*light*/
.navbar.light {
  background-color: #ffffff;
  color: #1F2937;
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
}

.navbar.light .nav-link {
  color: #1F2937;
}

.navbar.light .nav-link:hover,
.navbar.light .nav-link.active {
  color: #3B82F6;
  font-weight: bold;
}

.navbar.light .navbar-toggler {
  border-color: #3B82F6;
}

.navbar.light .navbar-toggler-icon {
  background-color: #3B82F6;
  border-radius: 3px;
}
