.navbar {
  background-color: #1E1E1E;
  color: #E0E0E0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-nav{
  margin-left: auto;
}

.nav-link{
  color: #E0E0E0;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-link:hover{
  color: #00ADB5;
}

.navbar-toggler {
  border-color: #00ADB5;
}

.navbar-toggler-icon {
  background-color: #00ADB5;
  border-radius: 3px;
}

.navbar .nav-link {
  color: #E0E0E0;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar .nav-link:hover {
  color: #00ADB5;
}
.navbar .nav-link.active {
  color: #00ADB5;
  font-weight: bold;
}