/* base*/
.contenedor-itemlist {
  padding: 20px;
  margin-top: 1.5rem;      
}

.itemlist-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

/*dark*/
.itemlist-title.dark {
  color: #E6E6E6;
}

/*light*/
.itemlist-title.light {
  color: #1F2937;
}
