/*base*/
.theme-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0px 20px;
  border-radius: 50%;
  transition: color 0.3s ease, transform 0.2s ease;
}

.theme-btn:hover {
  transform: scale(1.1);
}

/*dark*/
.theme-btn.dark {
  color: #E0E0E0;
}

.theme-btn.dark:hover {
  color: #00ADB5;
}

/*light*/
.theme-btn.light {
  color: #1F2937;
}

.theme-btn.light:hover {
  color: #3B82F6;
}
