.footer-propio {
  background-color: #1E1E1E;
  color: #E0E0E0;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #242424;
}

.footer-text {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #B0B0B0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logo-footer {
  color: #E0E0E0;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.logo-footer:hover {
  color: #00ADB5;
  transform: scale(1.2);
}
