/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.principal {
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}


/*dark*/
body.dark {
  background-color: #2B2F3A;
  color: #E6E6E6;
}


/*light*/
body.light {
  background-color: #F3F6FB;
  color: #1F2937;            
}
